.card {
    position: relative;
    cursor: pointer;
    }
    
    .card .front{
        background-color: #FFF8EA;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
    }
    
    .card .front.matched{
        background-color: #FFF8EA;
    }
    
    .flipped .front {
        transform: rotateY(0deg);
        transition-delay: 0.2s;
    }
    
    .card .back{
        background-color: #FFF8EA;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 2px solid #FFF8EA;
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
    }
    
    .flipped .back {
        transform: rotateY(90deg);
        transition-delay: 0s;
    }